@media (max-width: 1366px) and (max-height: 625px) {
    body {
        height: 100vh;
        overflow:hidden;
    }

    .header {
        background-size: 300px;
        width: 100%;
        height: 100px;
    }

    .introBox{
        width: 300px;
        height: 500px;
        display: flex;
        align-items: center;
    }

    .castleOne{
        display: flex;
        position: relative;
        animation: float 5s infinite;
        cursor: pointer;
        width: 100%;
        height: auto;
    }

    .categoryBox{
        width: 300px;
        height: 500px;
    }

    .catGrid{
        height: 400px;
    }
    
    .question{
        height:30%;
        font-size: 1rem;
    }

    .cardHolder {
        width: 120px;
        height: 120px;
    }

    .gameBox{
        width: 300px;
        height: 500px;
    }
    
    .grid{
        width: 300px;
        height: 500px;
        border-radius: 22px;
        justify-content: center;
    }

    .failedAttempts{
        margin: 10px 0px 10px 25px;
        font-weight:800;
        font-size: 1remp;
    }
    
    .timerDisplay{
        margin: 10px 25px 10px auto;
        font-weight:800;
        font-size: 1remp;
    }


    .card{
        width: 77px;
        height: 90px;
    }

    .backCard{
        max-width: 100%;
        max-height: 100%;
    }
    
    .frontCard{
        max-width: 100%;
        max-height: 100%;
    }
    
    .level{
        font-family: 'Fredoka One';
        font-size: 1.3rem;
        text-align: center;
        color: #FFCD1C;
        margin-top:10px;
        margin-bottom:10px;
    }
}

/* iPad y KindleFire */
@media (min-width:768px) and (max-width: 800px) { 
    body{
        height: 100vh;
        overflow: hidden;
    }
}

/* iPhone X */
@media (max-width: 375px) { 
    body{
        background-image: url(./images/mediaquerybackground.webp);
        height: 100vh;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        align-items: center;
        display: flex;
        justify-content: center;
        overflow:hidden;
        }
    
    .header {
        background-size: 300px;
        background-position: center;
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: right;
        align-items:center;
        transition: transform 0.5s cubic-bezier(0.0, -0.55, 0.265, 1.55);
    }

    .header.is-up{
        transform: translateY(-30px);
    }

    .introBox{
        width: 300px;
        height: 400px;
        display: flex;
        align-items: center;
    }

    .castleOne{
        display: flex;
        position: relative;
        animation: float 5s infinite;
        cursor: pointer;
        width: 100%;
        height: auto;
    }

    .categoryBox{
        width: 300px;
        height: 400px;
    }

    .catGrid{
        height: 350px;
        margin-top:-50px;
    }
    
    .question{
        height:30%;
        font-size: 1rem;
        padding-bottom:20px;
    }

    .cardHolder {
        width: 120px;
        height: 120px;
    }

    .gameBox{
        position:relative;
        width: 350px;
        height: 550px;
        display: flex;
        align-items: top;
    }
    
    .grid{
        width: 500px;
        height: 500px;
        background: none;
        border-radius: 22px;
    }

    .failedAttempts{
        margin: 10px 0px 10px 25px;
        font-weight:800;
        font-size: 1remp;
    }
    
    .timerDisplay{
        margin: 10px 25px 10px auto;
        font-weight:800;
        font-size: 1remp;
    }

    .card{
        width: 86px;
        height: 100px;
    }

    .backCard{
        max-width:  100%;
        max-height: 100%;
    }
    
    .frontCard{
        max-width:  100%;
        max-height: 100%;
    }

    .level{
        position:  absolute;
        bottom: 0;
        width:  375px;
        text-align: center;
        font-size: 1.2rem;
        justify-content: center;
    }

    .scoreDisplay{
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0,0,0,0.5);
        backdrop-filter: blur(1px);
        -webkit-backdrop-filter: blur(1px);
        z-index: 10;
    }
    
    .results{
        width: 330px;
        height: 200px;
        position: fixed;
        top: 50%; 
        left: 50%;
        margin-top: -100px;
        margin-left: -170px;
        margin-right: -170px;
        color:blanchedalmond;
        background-color: #00A5C3;
        border-radius: 5px;
        text-align: center;
        z-index: 11; 
    }
    
    .wonImg{
        position:absolute;
        width: 20%;
        height: auto;
        right: 20px;
        bottom: 15px;
    }
}

/* iPhone 6/7/8 */
@media (max-width: 375px) and (max-height: 667px) { 
    .header {
        width: 100%;
        height: 100px;
    }

    .header.is-up{
        transform:  translateY(-25px);
    }
    
    .introBox{
        width: 300px;
        height: 400px;
        display: flex;
        align-items: center;
    }

    .castleOne{
        display: flex;
        position: relative;
        animation: float 5s infinite;
        cursor: pointer;
        width: 100%;
        height: auto;
    }

    .gameBox{
        position: relative;
        width: 300px;
        height: 500px;
        display: flex;
        align-items: top;
        transform: translateY(-20px);
    }
    
    .grid{
        width: 300px;
        height: 400px;
        background: none;
        border-radius: 22px;
    }

    .card{
        width: 77px;
        height: 90px;
    }

    .backCard{
        max-width: 100%;
        max-height: 100%;
    }
    
    .frontCard{
        max-width: 100%;
        max-height: 100%;
    }

    .level{
        position: overlay;
        margin-bottom: 50px;
        width: 300px;
        text-align: center;
        font-size: 1.2rem;
        justify-content: center;
    }

    .scoreDisplay{
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0,0,0,0.5);
        backdrop-filter: blur(1px);
        -webkit-backdrop-filter: blur(1px);
        z-index: 10;
    }
}

/*Responsive S5*/
@media (max-width: 360px) and (max-height: 640px) {
    body{
        height: 100vh;
        width: 100%;
        background-size: cover;
    } 

    .container{
        display: flex;
        align-content: center;
        width: 100%;
        height: 100%; 
        padding-top: 20px;  
    }

    .header{
        background-size: 300px;
        height: 100px;
        width: 100%;
        background-position: center;
        transition: transform 0.5s cubic-bezier(0.0, -0.55, 0.265, 1.55);
    }

    .header.is-up{
        transform: translateY(-20px);
    }
    
    .introBox{
        width: 300px;
        height: 400px; 
    }
    
    .castleOne{
        width: 100%;
    }  

    .gameBox{
        position: relative;
        width: 300px;
        height: 520px;
        display: flex;
        align-items: top;
    }

    .grid{
        width: 450px;
        height: 450px;
        background: none;
        border-radius: 22px;
    }  

    .card{
        width: 75px;
        height: 89px;
    } 
    
    .backCard{
        max-width: 100%;
        max-height: 100%;
    }
    
    .frontCard{
        max-width: 100%;
        max-height: 100%;
    }

    .level{
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        font-size: 1.1rem;
        justify-content: center;
    }     
}