@import url('http://themes.googleusercontent.com/static/fonts/fredokaone/v1/SL0aFUFfkFMMdariYQ3_YZ0EAVxt0G0biEntp43Qt6E.ttf');



/*Fondo y apariencia general*/
body{
    margin: 0px;
    padding: 0px;
    background-image: url(./images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    display: flex;
    justify-content: center;
    font-family:'Fredoka One', normal;
    /* overflow: hidden; */
}
.container{
    max-width: fit-content;
}

/*Titulo*/
.header{
    background-image: url(./images/title.png); 
    width: 486px;
    height: 150px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

/* Caja de contenido cambiante */
/* .section{
    width: 486px;
    height: 674px; 
    min-height: 200px;
} */

/* Caja de contenido intro */
.introBox{
    width: 486px;
    height: 674px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

/*Boton Jugar*/
.buttonPlay{
    background-image: url(./images/background.png);
    display: flex;
    cursor: pointer;
    font-size: 30px;
    color: #000000;
    border-radius: 100px;
    padding: 7%;
    border: 4px solid #000000;
    overflow: hidden;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    
}

.buttonPlay:hover{
    -webkit-transform: scale(1.4);transform: scale(1.4);
    background-image: url(./images/juego3.png);
    color: white;
    border: 4px solid white;
}

/* Tablero de cartas */
.gameBox{
    width: 486px;
    height: 674px;
}

/*Grilla de cartas*/
.grid{
    display: grid;
    width: 100%;
    height: 674px;
    background: #00A5C3;
    border-radius: 22px;
}

.boardCards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 1em;

    margin: auto;
    align-items: center;
    width: 100%;
}

.card{
    width: 120px;
    height: 140px;
    border: 1px solid #578190;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.backCard{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F4C9B1;
    border-radius: 10px;
}

.level{

    top: 821px;

    font-family: 'Fredoka One';
    font-size: 1.9rem;
    text-align: center;
    color: #FFCD1C;
    -webkit-text-stroke: 2px #578190;
    margin-top:10px;
    margin-bottom:10px;
}
/*Animacion del castillo*/
.castleOne{
    display: flex;
    position: relative;
    animation: float 5s infinite;
}

@keyframes float {
    0% {top: 0px;}    
      
    25% {top: 25px;}   
    
    50% {top: 50px;}

    50% {top: 0px;}            
}

@media screen and (max-width: 480px){
  body{
      background-color: yellow;
  }  
}
